<div class="container">
<div class="row mt-5" >
<div class="col-md-3">
<mat-form-field appearance="outline">
      <mat-label>Find</mat-label>
      <input [(ngModel)]="name" matInput type="number"> 
                                         
    </mat-form-field>
    </div>
<div class="col-md-3">
  <button class="btn btn-primary" (click)="submit()">Find</button>
  </div>
<div class="col-md-3">
<button class="btn btn-primary" (click)="allFind()">All Find</button>
</div>

<div class="col-md-3">
<button class="btn btn-primary" (click)="addProduct()">Add Product</button>
</div>
</div> 
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="userId">
    <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.userId}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="body">
    <mat-header-cell *matHeaderCellDef> Body </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.body}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
  </ng-container>
  
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

</div>