<mat-toolbar  color="primary"  class="fixed-header">
        <mat-toolbar-row>
                <!-- <button *ngIf='buttonShow' type="button" class="btn btn-outline-light" [routerLink]="['product/addProduct']">Product</button>&nbsp;&nbsp;
                <button *ngIf='buttonShow' type="button" class="btn btn-outline-light"  [routerLink]="['product/productAttribute']">Product Attribute</button> -->
    
        </mat-toolbar-row>
        </mat-toolbar>
 <div class="row mt-5">
  <div class="col-md-4"></div>
        
        <div class="col-md-4">
          <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        
                        <div class="">
                            <div class="field-wrapper">
                                        <button class="btn btn-primary" (click)="showProducts()">Product List</button>
                                            <!-- <a href="#" (click)="submit()" class="btn btn-primary" value="">Submit</a> -->
                                        </div>
                            <form [formGroup]="addProduct"  class="text-left">
                                <div class="form">

                                    <div>
                                      <mat-form-field appearance="outline">
                                        <mat-label>User ID</mat-label>
                                        <input matInput type="number" formControlName="userId"> 
                                        <mat-error>Please insert User Id.</mat-error>                                   
                                      </mat-form-field>
                                    </div>
                                    <div >
                                      <mat-form-field appearance="outline">
                                        <mat-label>Title</mat-label>
                                        <input matInput formControlName="title">
                                        <mat-error>Title cannot exceed 40 characters</mat-error>   
                                      </mat-form-field>
                                    </div>
                                    <div >
                                      <mat-form-field appearance="outline">
                                        <mat-label>Body</mat-label>
                                        <input matInput formControlName="body">
                                        <mat-error>Body cannot exceed 100 characters</mat-error>  
                                      </mat-form-field>
                                    </div>
                                    <div class="d-sm-flex justify-content-between">
                                        
                                        <div class="field-wrapper">
                                        <button class="btn btn-primary" (click)="submit()">Submit</button>
                                            <!-- <a href="#" (click)="submit()" class="btn btn-primary" value="">Submit</a> -->
                                        </div>
                                        
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                       
                    </div>
                </div>
            </div>

        </div>
        </div>
        <div class="col-md-4"></div>
    </div>