/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
// @import '~ngx-toastr/toastr.css';
//@import "@fuse/scss/core";

// Import app.theme.scss
//@import "app/app.theme";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }