<mat-toolbar  color="primary"  class="fixed-header">
        <mat-toolbar-row>
                <!-- <button *ngIf='buttonShow' type="button" class="btn btn-outline-light" [routerLink]="['product/addProduct']">Product</button>&nbsp;&nbsp;
                <button *ngIf='buttonShow' type="button" class="btn btn-outline-light"  [routerLink]="['product/productAttribute']">Product Attribute</button> -->
    
        </mat-toolbar-row>
        </mat-toolbar>
 <div class="row mt-5">
  <div class="col-md-2"></div>
        <div class="col-md-4"><div>     <img src="assets/img/login_banner.svg" alt="AnalyticsZilla" /></div></div>
        <div class="col-md-4">
          <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        
                        <div class="login_container">
                            <h6 style="font-weight: 600; font-size: 20px;">Welcome back, <br>Please sign in to your account.</h6>
                            <form class="text-left">
                                <div class="form">

                                    <div>
                                      <mat-form-field appearance="outline">
                                        <mat-label>Username</mat-label>
                                        <input matInput formControlName="username">                                        
                                      </mat-form-field>
                                    </div>
                                    <div >
                                      <mat-form-field appearance="outline">
                                        <mat-label>Password</mat-label>
                                        <input matInput type="password" formControlName="password">
                                      </mat-form-field>
                                    </div>
                                    <div class="d-sm-flex justify-content-between">
                                        
                                        <div class="field-wrapper">
                                            <a href="#" (click)="login()" class="btn btn-primary" value="">Log In</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                       
                    </div>
                </div>
            </div>

        </div>
        </div>
        <div class="col-md-2"></div>
    </div>

